<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main>
  <div *ngIf="!isLoading()">
    <div *ngFor="let field of getFields(physicsData); let i = index">
      <app-telemetry
        [field]="field"
        [value]="getValues(physicsData)[i]"
      ></app-telemetry>
    </div>
    ------------------------------------------------------------------------------------------
    <div *ngFor="let field of getFields(graphicsData); let i = index">
      <app-telemetry
        [field]="field"
        [value]="getValues(graphicsData)[i]"
      ></app-telemetry>
    </div>
    ------------------------------------------------------------------------------------------
    <div *ngFor="let field of getFields(staticData); let i = index">
      <app-telemetry
        [field]="field"
        [value]="getValues(staticData)[i]"
      ></app-telemetry>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
